@{
    ViewBag.Title = "Жировик Bet";
}

    <div class="jumbotron">
        <h1>Жировик Bet</h1>
        <p> <strong> Список игр:</strong></p>
        <ol>
            <li> <a href="" class="alert-link">IG vs EG</a> </li>

            <li><a href="" class="alert-link">IG vs EG</a></li>

            <li><a href="" class="alert-link">IG vs EG</a></li>
        </ol>
        <p>

        </p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Как играть?</h2>
        <p>
            Пройдите регистрацию и получите 1000 виртуальных монет сразу же после авторизации. Можете ставить виртуальную валюту на любые предложенные исходы
            в игре
        </p>
        <p><a class="btn btn-default" href="/Home/Bet">Список игр&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>